{%- comment -%} Default Styles {%- endcomment -%}
{%- assign card_style  = '' -%}
{%- assign text_style  = 'text-themed' -%}
{%- assign badge_style = 'badge-dark' -%}

{%- comment -%} Update Styles {%- endcomment -%}
{%- if error.style == 'fill' -%}
  {%- assign card_style = error.color | prepend: 'bg-' -%}
  {%- if error.color != 'light' -%}
    {%- assign text_style  = 'text-white' -%}
    {%- assign badge_style = 'badge-light text-' -%}
    {%- assign badge_style = badge_style | append: error.color -%}
  {%- endif -%}
{%- else -%}
  {%- assign card_style = error.color | prepend: 'border border-' -%}
  {%- if error.color -%}
    {%- assign badge_style =  error.color | prepend: 'badge-' -%}
  {%- endif -%}
{%- endif -%}

{%- comment -%} Determine error URL {%- endcomment -%}
{%- if error.external_url -%}
  {%- assign error_url = error.external_url -%}
{%- else -%}
  {%- assign error_url = error.url | relative_url -%}
{%- endif -%}
    
<div class="col-lg-6 my-3 wow animated fadeIn" data-wow-delay=".15s">
  <a href="{{ error_url }}" class="error card {{ card_style }}" {%- if error.external_url and site.open_new_tab -%} target="_blank" {%- endif -%}>
    <div class="card-body {{ text_style }}">
      <h3 class="card-title">{{ error.title }}</h3>
      <p class="card-text">
        {% for tag in error.tags %}
        <span class="badge {{ badge_style }}">{{ tag }}</span>
        {% endfor %}
      </p>
      <p class="card-text">
        {%- if error.description -%}
        {{ error.description }}
        {%- else -%}
        {{ error.content | truncatewords: 25, "<small><i>  read more...</i></small>" }}
        {%- endif -%}
      </p>
    </div>
    <div class="card-footer {{ text_style }}">
      {{ error.date | date_to_long_string }}
    </div>
  </a>
</div>